@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100;200;400;500;600;700&family=Poppins:wght@300;400;500&display=swap");
body {
  font-family: 'Poppins', sans-serif !important; }

.main-nav {
  margin-top: 20px; }
  .main-nav a {
    color: #01d28e;
    font-size: 14px; }
  .main-nav a:hover {
    color: #01d28e !important; }
  .main-nav .logo {
    color: #01d28e; }
  .main-nav li {
    padding: 5px 15px; }
  .main-nav .menu-btn {
    font-size: 22px;
    cursor: pointer;
    display: none; }
  .main-nav #click {
    display: none; }

@media screen and (max-width: 450px) {
  .main-nav ul {
    width: 100%;
    display: block;
    background-color: black;
    opacity: 0.7;
    text-align: center;
    position: fixed;
    left: -100%;
    transition: all 0.5s ease; }
  .main-nav .navbar-brand {
    font-size: 20px;
    margin-left: 20px; }
  .main-nav #click:checked ~ ul {
    left: 0%; }
  .main-nav .menu-btn {
    display: block;
    font-size: 20px;
    position: absolute;
    border-radius: 5px;
    padding: 0px 8px;
    border: 1px solid white;
    right: 20px;
    color: white;
    top: 5px; }
  .main-nav .main-nav .menu-btn {
    font-size: 22px;
    cursor: pointer;
    display: none; }
  .main-nav .container {
    display: block !important;
    padding: 0; } }

@media screen and (max-width: 450px) {
  .car-banner {
    width: 100%; }
    .car-banner .car-ban-text {
      display: block;
      padding: 0px 18px; }
    .car-banner .ban-head {
      font-size: 26px; }
    .car-banner .q-video {
      margin-left: -40px; } }

.video-hide {
  display: none; }

.carousel-indicators button {
  background-color: #e6e6e6 !important;
  border-radius: 50% !important;
  width: 13px !important;
  height: 13px !important; }

.car-banner::before {
  content: "";
  z-index: -1;
  top: 0;
  background-attachment: fixed;
  background-image: url("../images/Car.webp");
  width: 100%;
  background-size: cover;
  height: 850px;
  position: absolute;
  filter: brightness(0.7);
  clip-path: polygon(0 0, 100% 0%, 100% 89%, 41% 95%, 0 98%); }

.car-ban-text {
  height: 850px; }

.ban-head {
  margin-top: 160px;
  font-weight: 700; }

.ban-info {
  font-size: 18px;
  font-weight: 500; }

.video-icon {
  color: white;
  background-color: #01d28e;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  padding: 27px 0px; }

.vid-text {
  position: relative;
  left: 46px; }

.vid-text::after {
  position: absolute;
  content: "";
  width: 35px;
  top: 11px;
  left: -42px;
  height: 2px;
  background: white; }

.main-form {
  background: #1089ff;
  padding: 20px;
  border-radius: 5px; }
  .main-form input {
    border-radius: 0px;
    font-size: 13px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1); }
  .main-form input::placeholder {
    color: #ffffffb3;
    font-size: 12px; }
  .main-form .lbl {
    font-size: 13px !important; }
  .main-form input:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none; }
  .main-form .form-btn {
    background-color: #01d28e;
    padding: 15px;
    width: 100%;
    border-radius: 0; }

.sec-2-frm {
  position: relative;
  top: -500px; }
  .sec-2-frm .sub-sec2 {
    position: absolute;
    z-index: 1;
    left: 62px; }
  .sec-2-frm .sub-sec {
    position: absolute;
    height: 400px;
    left: 381px;
    top: 41px; }

@media screen and (max-width: 450px) {
  .sub-sec2 {
    position: static !important;
    left: 0; }
  .sec-2-frm {
    top: -350px; }
  .form-btn {
    margin-left: 85px;
    width: 55% !important; }
  .sub-sec {
    width: 95% !important;
    margin: 0px 12px;
    position: static !important; }
  .q-icons {
    margin-top: 63px; }
  .frm2-head {
    padding-top: 55px;
    text-align: center;
    padding-left: 0px !important;
    font-size: 21px !important; }
  .btn-size {
    margin-top: 33px !important; }
  .car-info {
    font-size: 13px !important;
    margin-top: 10px !important;
    width: 110% !important;
    text-align: center !important;
    margin-left: 0 !important; }
  .main-icon {
    margin-left: 32px !important;
    height: 62px !important;
    width: 47% !important; }
  .frm-icon {
    margin-left: 19px !important;
    margin-top: 16px !important; } }

.frm2-head {
  padding-top: 55px;
  padding-left: 70px;
  font-size: 25px; }

.main-icon {
  border: 1px solid #0000000d;
  margin-left: 115px;
  height: 84px;
  width: 36%;
  border-radius: 50%; }

.frm-icon {
  width: 40%;
  margin-left: 25px;
  margin-top: 22px;
  filter: invert(39%) sepia(99%) saturate(2435%) hue-rotate(193deg) brightness(101%) contrast(101%); }

.cards-flex {
  display: flex; }

@media screen and (max-width: 450px) {
  .card-q {
    width: 73% !important;
    margin-left: 52px; }
    .card-q .slide-indicator {
      top: 1110px; }
    .card-q .cards-flex {
      display: block; }
    .card-q .card-btn, .card-q .car-card-btn {
      padding: 8px 10px; }
    .card-q .card-btn2, .card-q .car-card-btn2 {
      padding: 8px 19px; }
    .card-q .card-top {
      margin-top: 20px; }
    .card-q .text-q {
      font-size: 10px;
      font-weight: bold; } }

.slider-img, .slider-img2, .slider-img3, .slider-img4, .slider-img5 {
  background-image: url("../images/car5.webp");
  width: 100%;
  height: 220px;
  background-position: center;
  background-size: cover; }

.slider-img2 {
  background-image: url("../images/car6.webp"); }

.slider-img3 {
  background-image: url("../images/car3.webp"); }

.slider-img4 {
  background-image: url("../images/car6.webp"); }

.slider-img5 {
  background-image: url("../images/car4.webp"); }

.car-info {
  font-size: 17px;
  margin-top: 10px;
  width: 69%;
  text-align: center;
  margin-left: 75px; }

.btn-2 {
  background: #1089ff;
  border-radius: 3px;
  padding: 15px;
  margin-left: 75px; }

.card-btn, .car-card-btn {
  background: #1089ff;
  padding: 8px 24px; }

.card-btn2, .car-card-btn2 {
  background: #01d28e;
  padding: 8px 40px; }

.car2 {
  height: 230px; }

.main-bg-clr {
  padding-bottom: 100px; }

.card {
  border: none !important; }

.car-card {
  width: 100%;
  margin: 0px 11px; }

.slider-price {
  margin-left: 134px;
  color: #1089ff;
  font-weight: 500; }

.s-text {
  margin-left: 13px;
  color: #00000033; }

.slide-indicator {
  position: absolute;
  top: 402px; }

.cars-slider {
  margin-top: 50px; }

.car-head {
  color: #1089ff;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px; }

.about-main {
  position: relative; }

.about-car {
  background: #01d28e;
  margin-left: 550px;
  height: 650px; }

.about-cntnt {
  width: 75%;
  padding-top: 90px;
  padding-left: 160px; }

.sub-abt-img {
  width: 500px; }

.about-img {
  z-index: 1;
  position: absolute;
  top: 94px;
  left: 150px; }

.about-btn {
  background: #1089ff;
  padding: 15px;
  border-radius: 5px; }

.overley {
  display: none; }

@media screen and (max-width: 450px) {
  .about-main {
    width: 100%; }
    .about-main .about-car {
      display: none; }
    .about-main .sub-abt-img {
      width: 450px; }
    .about-main .about-img {
      position: relative;
      top: 0;
      left: 0; }
    .about-main .overley-head {
      font-size: 23px;
      font-weight: 700; }
    .about-main .overley-cntnt {
      font-size: 15px;
      line-height: 27px;
      width: 94%;
      margin-top: 25px; }
    .about-main .about-overley {
      font-size: 13px;
      font-weight: 500; }
    .about-main .overley {
      display: block;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      position: absolute;
      width: 450px;
      overflow: hidden;
      height: 416px;
      left: -450px;
      top: 0;
      bottom: 0;
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
      transition: 0.5s; }
    .about-main .overley-btn {
      background: #1089ff;
      padding: 10px;
      margin-left: -14px;
      border-radius: 3px; }
    .about-main .about-img:hover .overley {
      left: 0; } }

.service-q {
  display: flex; }

@media screen and (max-width: 450px) {
  .service-q {
    display: block;
    margin-left: 95px; }
    .service-q .main-serv {
      margin-left: 0; }
    .service-q .main-serv-img {
      margin-left: 85px; } }

.main-serv-img {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #1089ff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  padding: 30px 0px;
  margin-left: 63px; }

.main-serv {
  margin-left: 130px; }

.serv-head {
  font-size: 18px; }

.service-img {
  width: 37%;
  filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(155deg) brightness(108%) contrast(100%); }

.serv-cntnt {
  width: 77%; }

.main-head {
  margin-top: 115px; }

.sec6 {
  margin-top: 100px;
  position: relative; }

.sec6::before {
  background-image: url("../images/car2.webp");
  content: "";
  position: absolute;
  width: 100%;
  z-index: -1;
  background-size: cover;
  height: 322px;
  filter: brightness(0.7); }

.sub-sec6 {
  width: 540px;
  height: 322px;
  background-color: #01d28e;
  clip-path: polygon(0 0, 100% 0%, 83% 69%, 75% 100%, 0 100%); }

.sec6-head {
  position: absolute;
  z-index: 1;
  right: 190px;
  top: 100px; }

.sec6-btn {
  position: absolute;
  z-index: 1;
  right: 512px;
  top: 210px; }

.sec6-btn2 {
  background-color: #1089ff;
  padding: 8px 10px;
  border-radius: 5px; }

@media screen and (max-width: 450px) {
  .sec6 .sec6::before {
    height: 179px; }
  .sec6 .sec6-head {
    font-size: 13px;
    right: 34px;
    line-height: 20px;
    top: 44px; }
  .sec6 .sec6-btn {
    left: 135px;
    top: 90px;
    right: 0; }
  .sec6 .sec6-btn2 {
    padding: 8px 7px;
    font-size: 9px; }
  .sec6 .sub-sec6 {
    width: 257px;
    height: 179px; } }

.cstmer {
  padding-top: 100px; }

.cstmer-card {
  background-color: white;
  margin: 80px 15px;
  width: 25%;
  padding: 20px; }
  .cstmer-card .client-1 {
    width: 30%;
    border-radius: 50%; }
  .cstmer-card .client-info {
    width: 97%;
    margin-top: 20px;
    color: #999;
    font-size: 15px; }
  .cstmer-card .client-name {
    font-weight: 500;
    font-size: 20px; }
  .cstmer-card .client-work {
    margin-top: -12px; }

.client-indicator li {
  background-color: #e6e6e6 !important;
  width: 13px !important;
  height: 13px !important;
  border-radius: 50% !important; }

.client-indicator .active {
  background-color: #01d28e !important; }

@media screen and (max-width: 450px) {
  .client-cards .cstmer-card {
    padding: 9px;
    margin: 80px 8px;
    width: 30%; }
  .client-cards .client-info {
    font-size: 7px;
    width: 101%; }
  .client-cards .client-name {
    font-size: 12px; }
  .client-cards .client-work {
    font-size: 7px; } }

@media screen and (max-width: 450px) {
  .q-blog {
    width: 100%; }
    .q-blog .b-img2 {
      margin-top: 20px; }
    .q-blog .b-img3 {
      margin-top: 20px; } }

.main-blog {
  margin-top: 100px; }

.blog-img {
  width: 100%;
  height: 270px; }

.b-img, .b-img2, .b-img3 {
  background-image: url("../images/blog1.webp");
  width: 100%;
  background-position: center;
  height: 270px;
  background-size: cover; }

.b-img2 {
  background-image: url("../images/blog2.webp"); }

.b-img3 {
  background-image: url("../images/blog3.webp"); }

.blog-info {
  padding: 0px 10px;
  color: #007bffab;
  font-weight: 500; }

.blog-info:hover {
  color: #999; }

.b-info {
  margin-top: 4px;
  filter: invert(39%) sepia(99%) saturate(2435%) hue-rotate(193deg) brightness(101%) contrast(101%); }

.blog-date {
  margin-left: -10px; }

.blog-date:hover {
  color: #999; }

.blog-para {
  font-size: 20px;
  font-weight: 500; }

.blog-btn {
  background-color: #1089ff;
  padding: 7px 10px;
  border-radius: 5px;
  margin-left: -10px; }

.last-sec {
  background-color: skyblue;
  height: 280px; }

.last-info {
  padding: 100px 136px; }

.cmnt {
  margin-left: -7px;
  font-size: 12px;
  margin-top: 3px;
  color: #007bffab;
  font-weight: 700; }

.last-sec-q {
  display: flex; }

@media screen and (max-width: 450px) {
  .amount-sec .last-sec-q {
    display: block; }
  .amount-sec .main-last-sec {
    margin: 100px 0px; }
  .amount-sec .t-cars, .amount-sec .t-cars1 {
    justify-content: center; }
  .amount-sec .t-cars1 {
    margin-top: 70px; }
  .amount-sec .amount {
    margin-left: 0; } }

.last-sec-info {
  font-size: 15px;
  margin-left: 13px;
  margin-top: 9px;
  color: #999; }

.main-last-sec {
  margin: 100px 60px; }

.amount {
  margin-left: 80px; }

.main-footer {
  padding-top: 100px; }

.fot-logo {
  color: #01d28e; }

.fot-info {
  width: 93%; }

.main-fot-icon {
  margin-top: 50px; }

.f-icon {
  margin: 10px; }

.car-footer {
  padding-bottom: 100px;
  background: black; }

.fot-icon, .fot-icon2 {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  width: 47px;
  height: 47px;
  font-size: 20px;
  padding: 13px 14px; }

.fot-icon2 {
  padding: 12px 16px; }

.cntct {
  margin-left: 10px; }

.cntct1 {
  width: 60%;
  margin-left: 20px; }

.add {
  margin-left: 23px;
  font-weight: 600;
  font-size: 15px; }

.c-head {
  font-size: 13px; }

.car-pg-ban::before {
  background-image: url("../images/car2.webp");
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  content: "";
  top: 0;
  z-index: -1;
  background-size: cover;
  height: 600px;
  filter: brightness(0.7); }

.cars-info {
  height: 600px;
  padding-top: 320px;
  padding-left: 155px; }

.main-car-card .card {
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 335px; }

.c-1, .c-2, .c-3, .c-4, .c-5, .c-6, .c-7, .c-8, .c-9, .c-10, .c-11, .c-12 {
  background-image: url("../images/car6.webp");
  background-size: cover;
  background-position: center;
  height: 220px;
  width: 100%; }

.c-2 {
  background-image: url("../images/car3.webp"); }

.c-3 {
  background-image: url("../images/car4.webp"); }

.c-4 {
  background-image: url("../images/car5.webp"); }

.c-5 {
  background-image: url("../images/car-blue.webp"); }

.c-6 {
  background-image: url("../images/car-red.webp"); }

.c-7 {
  background-image: url("../images/car7.webp"); }

.c-8 {
  background-image: url("../images/car8.webp"); }

.c-9 {
  background-image: url("../images/car9.webp"); }

.c-10 {
  background-image: url("../images/car10.webp"); }

.c-11 {
  background-image: url("../images/car11.webp"); }

.c-12 {
  background-image: url("../images/car12.webp"); }

.s-text1 {
  color: #00000033; }

.car-card-btn {
  padding: 8px 14px;
  border-radius: 5px; }

.car-card-btn2 {
  padding: 8px 30px;
  border-radius: 5px; }

.car-price {
  margin-left: 109px;
  color: #1089ff; }

.card-cntnt {
  margin-left: 15px; }

.cards-clr {
  padding-top: 80px;
  margin-top: -87px;
  padding-bottom: 50px; }

.pg-link {
  border-radius: 50%;
  margin: 7px; }

.pg-link1 {
  border-radius: 50% !important;
  margin: 7px; }

.pg-active {
  background: #1089ff !important;
  color: white !important; }

.main-cntct {
  border: 1px solid #ced4da;
  padding: 15px;
  width: 115%;
  border-radius: 5px; }

.cntct-sec2 {
  margin-left: 50px;
  height: 551px;
  width: 85%; }

.sec2-spc {
  padding: 55px; }

.frm-input .form-control {
  padding: 12px; }

.frm-input input:focus {
  box-shadow: none;
  outline: none; }

textarea {
  border: 1px solid #ced4da; }

textarea:focus {
  box-shadow: none !important;
  outline: none !important; }

.frm-btn {
  background: #1089ff;
  padding: 13px 40px;
  margin-left: -13px;
  border-radius: 5px; }

.cntct-map {
  width: 80%;
  height: 450px;
  margin-left: 150px;
  margin-top: 55px; }

.cntct-footer {
  margin-top: 100px; }

.cntct-icon {
  color: #1089ff;
  margin-top: 8px; }

.cntct-info {
  margin-left: 10px; }

.pricing-img {
  width: 195px; }

.rate-icon, .rate-icon2 {
  color: #01d28e;
  font-size: 12px; }

.rate-icon2 {
  color: silver; }

.pricing-card, .pricing-card3 {
  background-color: #1089ff;
  height: 90px;
  width: 215px;
  clip-path: polygon(0 0, 100% 0%, 100% 89%, 50% 100%, 0 89%);
  position: absolute;
  z-index: 1; }

.pricing-card3 {
  background: black; }

.pricing-card2 {
  height: 90px;
  width: 215px;
  clip-path: polygon(0 0, 100% 0%, 100% 89%, 50% 100%, 0 89%);
  position: absolute;
  z-index: 1; }

.main-price-card {
  position: relative; }

.sub-price-card, .sub-price-card2, .sub-price-card3, .sub-price-card4, .sub-price-card5, .sub-price-card6 {
  background: rgba(0, 0, 0, 0.05);
  width: 215px;
  height: 150px;
  position: absolute;
  top: 80px;
  padding: 35px 0px; }

.m-price {
  margin-left: -7px; }

.m-price2 {
  margin-left: -16px; }

.p-btn {
  margin-top: 51px;
  margin-left: 38px; }

.sub-p-card, .sub-p-card2, .sub-p-card3, .sub-p-card4, .sub-p-card5, .sub-p-card6 {
  background: #01d28e;
  width: 215px;
  height: 150px;
  top: 79px;
  position: absolute;
  opacity: 0; }

.sub-p-card2 {
  top: 231px; }

.sub-p-card3 {
  top: 382px; }

.sub-p-card4 {
  top: 533px; }

.sub-p-card5 {
  top: 684px; }

.sub-p-card6 {
  top: 835px; }

.sub-p-card:hover, .sub-p-card2:hover, .sub-p-card3:hover, .sub-p-card4:hover, .sub-p-card5:hover, .sub-p-card6:hover {
  opacity: 1;
  transition: 0.4s; }

.pricing-btn {
  background: #1089ff;
  background: #1089ff;
  border-radius: 5px;
  padding: 10px 17px; }

.pr-info {
  color: #1089ff; }

.sub-pr-info {
  font-size: 14px; }

.sign, .sign2 {
  font-size: 13px;
  position: absolute;
  left: 38px; }

.sign2 {
  left: 24px; }

.time {
  font-size: 14px; }

.sub-price-card2 {
  top: 231px; }

.sub-price-card3 {
  top: 382px; }

.sub-price-card4 {
  top: 533px; }

.sub-price-card5 {
  top: 684px; }

.sub-price-card6 {
  top: 835px; }

.pricing-info {
  margin-top: 122px;
  margin-left: 30px; }

.car-red-price {
  margin-top: 89px;
  margin-left: 143px;
  position: relative; }

.car-red-price::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ececec;
  top: 141px;
  width: 459px;
  left: -25px; }

.hour-rate {
  margin-left: -98px; }

.pricing-info2 {
  margin-top: 97px;
  margin-left: 32px; }

.car-white-price {
  margin-top: 32px;
  margin-left: 144px;
  position: relative; }

.car-white-price::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ececec;
  top: 131px;
  width: 459px;
  left: -25px; }

.price-3::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ececec;
  top: 140px;
  width: 459px;
  left: -25px; }

.price-5::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ececec;
  top: 120px;
  width: 459px;
  left: -25px; }

.price-6 {
  margin-top: 20px; }

.price-6::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ececec;
  top: 138px;
  width: 459px;
  left: -25px; }

.price-head {
  margin-top: 30px;
  font-size: 19px; }

.scroll {
  overflow-x: scroll;
  width: 82%;
  margin-top: 70px;
  margin-left: 130px; }

.size {
  font-size: 18px;
  font-weight: 400; }

@media screen and (max-width: 450px) {
  .car-pg-ban .cars-info {
    padding-left: 40px; } }

@media screen and (max-width: 450px) {
  .cards-clr .main-car-card {
    margin-left: 50px; }
  .cards-clr .card-q-1 {
    margin-top: 40px; } }

@media screen and (max-width: 450px) {
  .contact .main-cntct {
    width: 100%; }
  .contact .cntct-sec2 {
    width: 100%;
    margin-left: 0;
    margin-top: 30px; } }

@media screen and (max-width: 450px) {
  .cntct-map {
    width: 100%;
    height: 300px;
    padding: 20px 10px;
    margin: 0; } }
